<div class="rounded shadow p-5 col-8 bg-footer-cal">
  <%= form_with(model: task) do |form| %>

    <% if task.errors.any? %>
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <% task.errors.each do |error| %>
        <p><%= error.full_message %></p>
      <% end %>
    <% end %>

    <div class="card p-5 bg-white my-5">
      <%= form.label :project, class: "form-label" %>
      <%= form.collection_select(:project_id, Project.all, :id, :name, { include_blank: "Select Project" }, class: 'form-control text-muted') %>
    </div>

    <div class="mb-3">
      <%= form.text_field :name, class: "form-control", placeholder: "task name" %>
    </div>

    <div>
      <%= form.text_area :description, class: "form-control", placeholder: "task overview" %>
    </div>

    <div class="row border border-secondary p-5 mx-1 my-4 rounded">
      <div class="col-5 me-5">
        <%= form.label :start_task, class: "form-label text-muted" %>
        <%= form.datetime_field :start_time, class: "form-control" %>
      </div>

      <div class="ms-5 col-5">
        <%= form.label :end_task, class: "form-label text-muted" %>
        <%= form.datetime_field :end_time, class: "form-control" %>
        <small class="text-muted">* optional</small>
      </div>
    </div>

    <div class="my-3">
      <%= form.label :completed, class: "form-check-label me-2 text-muted" %>
      <%= form.check_box :completed, class: "form-check-input" %>
    </div>

    <div class="mt-3">
      <%= form.submit class: "btn btn-success" %>
    </div>
  <% end %>
</div>
