<div id="<%= dom_id task %>" class="col-7">
  <div class="shadow rounded p-3 bg-light pb-5">
    <%= turbo_frame_tag "graph" do %>

      <h3 class="card-title rounded p-3 <%= task.completed ? 'completed bg-completed' : 'uncompleted bg-uncompleted' %>">
        <%= task.project.name %>
      </h3>

      <div class="card-body bg-card-body p-3">
        <%= task.description %>
      </div>

      <div class="border p-3 bg-footer">

        <small>Status:</small>
        <% if task.completed %>
          <small class="float-end text-success">
            completed
          </small><br>
        <% else %>
          <small class="float-end text-danger">
            not completed
          </small><br>
        <% end %>

        <small>Started:</small>
        <small class="text-muted float-end">
          <%= task.created_at.to_date %>
        </small><br>

        <small>End task:</small>
        <small class="text-danger float-end">
          <%= task.end_time.to_date %>
        </small><br>

        <% if task.completed %>
          <small>Finished:</small>
          <small class="text-muted float-end">
            <%= task.updated_at.to_date %>
          </small><br>
        <% end %>

        <small>Duration </small>
        <small class="text-muted float-end">
          <%= time_ago_in_words task.created_at %>
        </small>
      </div>

      <%= form_with(model: task) do |f| %>
        <div class="form-check form-switch form-check-reverse pe-0">
          <%= f.hidden_field :id, value: task.id %>
          <div class="float-start">
            <%= f.check_box(:completed, { class: "form-check-input" }, { id: 'task' }) %>
            <%= f.label 'Complete', class: "form-check-label text-muted", for: "task" %><br>
          </div>
          <%= task.completed ?
          (f.submit "Restart task", class: "m-0 p-0 btn btn-link text-success text-decoration-none") :
          (f.submit "Complete task", class: "m-0 p-0 btn btn-link text-danger text-decoration-none") %>
        </div>
      <% end %>

      <%= link_to "Graph", task_line_chart_path(task), data: { turbo_action: "replace" }, class: "text-primary float-start py-3" %>
    <% end %>

    <%= link_to "Calendar", task_calendar_path(task), class: "text-success py-2 float-end" %>
  </div>
</div>
