<div id="<%= dom_id task %>" class="col-7">
  <div class="shadow rounded p-3 bg-light pb-5">
    <%= turbo_frame_tag "graph" do %>

      <h3 class="card-title bg-secondary bg-gradient p-3">
        <%= task.project.name %>
      </h3>

      <div class="card-body bg-footer-cal bg-gradient p-3">
        <%= task.description %>
      </div>

      <div class="border p-3 bg-footer">

        <small>Status:</small>
        <% if task.completed %>
          <small class="float-end text-success">
            completed
          </small><br>
        <% else %>
          <small class="float-end text-danger">
            not completed
          </small><br>
        <% end %>

        <small>Started:</small>
        <small class="text-muted float-end">
          <%= task.created_at.to_date %>
        </small><br>

        <small>End task:</small>
        <small class="text-danger float-end">
          <%= task.end_time.to_date %>
        </small><br>

        <% if task.completed %>
          <small>Finished:</small>
          <small class="text-muted float-end">
            <%= task.updated_at.to_date %>
          </small><br>
        <% end %>

        <small>Duration </small>
        <small class="text-muted float-end">
          <%= time_ago_in_words task.created_at %>
        </small>
      </div>

      <%= form_with(model: task) do |f| %>
        <div class="form-check form-switch form-check-reverse">
          <%= f.check_box(:repairman, { class: "form-check-input" }, { id: 'task' }) %>
          <%= f.label 'Complete task', class: "form-check-label text-muted", for: "task" %>
        </div>
      <% end %>

      <%= link_to "Graph", task_line_chart_path(task), data: { turbo_action: "replace" }, class: "text-primary float-start py-3" %>
    <% end %>

    <%= link_to "Calendar", task_calendar_path(task), class: "text-success py-2 float-end" %>
  </div>
</div>
