<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="shadow rounded p-5 my-3 bg-light">

    <%= f.text_field :name, class: "form-control mb-3", placeholder: "task name" %>
    <%= f.text_area :description, class: "form-control", placeholder: "task overview" %>

    <div class="row border p-5 mx-1 my-3 rounded">
      <div class="col-5 me-5">
        <%= f.label :start_task, class: "form-label text-muted" %>
        <%= f.datetime_field :start_time, class: "form-control" %>
      </div>

      <div class="ms-5 col-5">
        <%= f.label :end_task, class: "form-label text-muted" %>
        <%= f.datetime_field :end_time, class: "form-control" %>
        <small class="text-muted">* optional</small>
      </div>
    </div>

    <div class="my-3 form-check form-switch form-check-reverse">
      <%= f.label :completed, class: "form-check-label me-2 text-muted" %>
      <%= f.check_box :completed, class: "form-check-input" %>
    </div>

    <button type="button" data-action="nested-form#remove" class="btn btn-sm btn-danger my-3">
      Remove Task
    </button>

    <%= f.hidden_field :_destroy %>
  </div>
</div>
