<div id="<%= dom_id project %>" class="col-7">
  <div class="shadow rounded p-3 bg-light pb-5">
    <%= turbo_frame_tag "graph" do %>

      <h3 class="card-title bg-secondary bg-gradient p-3 <%= project.completed ? 'completed' : 'uncompleted' %>">
        <%= project.name %>
      </h3>

      <div class="card-body bg-footer-cal p-3">
        <p><%= project.description %></p>
      </div>

      <div class="border p-3 bg-footer">

        <small>Status:</small>
        <% if project.completed %>
          <small class="float-end text-success">
            completed
          </small><br>
        <% else %>
          <small class="float-end text-danger">
            not completed
          </small><br>
        <% end %>

        <small>Started:</small>
        <small class="text-success float-end">
          <%= project.created_at.to_date %>
        </small><br>

        <small>End time:</small>
        <small class="text-danger float-end">
          <%= project.end_time.to_date %>
        </small><br>

        <% if project.completed %>
          <small>Finished:</small>
          <small class="text-muted float-end">
            <%= project.updated_at.to_date %>
          </small><br>
        <% end %>

        <small>Duration:</small>
        <small class="text-muted float-end">
          <%= time_ago_in_words project.created_at %>
        </small>

        <small>Copmlited:</small>
        <small class="text-muted float-end">
          <%= time_ago_in_words project.created_at %>
        </small>
      </div>
      <%= form_with(model: project) do |f| %>
        <div class="form-check form-switch form-check-reverse">
          <%= f.check_box(:completed, { class: "form-check-input" }, { id: 'project' }) %>
          <%= f.label 'Complete project', class: "form-check-label text-muted", for: "project" %>
        </div>
      <% end %>
      <%= link_to "Graph", project_line_chart_path(project), data: { turbo_action: "replace" }, class: "text-primary float-start py-3" %>
    <% end %>

    <%= link_to "Calendar", project_calendar_path(project), class: "text-success float-end py-3" %>
  </div>

  <h5 class="text-white mt-5 mb-3">
    <%= project.name %> tasks:
  </h5>

  <div class="row mx-1 tasks flex-row flex-nowrap pb-5">
    <% project.tasks.each do |project_task| %>
      <div class="shadow rounded p-3 bg-light col-4 me-5 task pb-5">

        <h6 class="card-title bg-secondary bg-gradient p-3 <%= project_task.completed ? 'completed' : 'uncompleted' %>">
          <%= project_task.name %>
        </h6>

        <div class="card-body bg-footer-cal bg-gradient p-3">
          <%= project_task.description %>
        </div>

        <div class="border p-3 bg-footer">

          <small>Status:</small>
          <% if project_task.completed %>
            <small class="float-end text-success">
              completed
            </small><br>
          <% else %>
            <small class="float-end text-danger">
              not completed
            </small><br>
          <% end %>

          <small>Started:</small>
          <small class="text-success float-end">
            <%= project_task.created_at.to_date %>
          </small><br>

          <small>End task:</small>
          <small class="text-danger float-end">
            <%= project_task.end_time.to_date %>
          </small><br>

          <% if project_task.completed %>
            <small>Finished:</small>
            <small class="text-muted float-end">
              <%= project.updated_at.to_date %>
            </small><br>
          <% end %>

          <small>Duration </small>
          <small class="text-muted float-end">
            <%= time_ago_in_words project_task.created_at %>
          </small>
        </div>

        <%= form_with(model: project_task) do |f| %>
          <div class="form-check form-switch form-check-reverse">
            <%= f.check_box(:completed, { class: "form-check-input" }, { id: 'project_task' }) %>
            <%= f.label 'Complete task', class: "form-check-label text-muted", for: "project_task" %>
          </div>
        <% end %>

        <%= link_to "Calendar", task_calendar_path(project_task), class: "text-success py-2 float-end" %>
        <%= link_to "Show task", project_task, class: "text-primary float-start py-2" %>
      </div>
    <% end %>
  </div>
</div>
