<div class="rounded shadow p-5 bg-light">
  <%= month_calendar(events: @projects) do |date, projects| %>
    <%= date.day %>

    <% projects.each do |project| %>
      <div class="p-3">

        <div class="card-header card">
          <div class="card-name">
            <strong>
              <%= link_to project.name, project, class: "text-danger" %>
            </strong>
          </div>
        </div>

        <div class="card-body card">
          <small class="card-text">
            <%= project.description %>
          </small>
        </div>

        <div class="card-footer text-muted my-3">
          <small class="card-text">
            From:
          </small>
          <small class="float-end">
            <%= project.start_time.to_s(:time) %>
          </small><br>
          <small class="card-text">
            To:
          </small>
          <small class="float-end">
            <%= project.end_time.to_s(:time) %>
          </small>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
