<div class="rounded shadow p-5 bg-light">
  <%= month_calendar(events: @tasks) do |date, tasks| %>
    <%= date.day %>

    <% tasks.each do |task| %>
      <div class="p-3">

        <div class="card-header card">
          <div class="card-name">
            <strong>
              <%= link_to task.name, task, class: "text-danger" %>
            </strong>
          </div>
        </div>

        <div class="card-body card">
          <small class="card-text">
            <%= task.description %>
          </small>
        </div>

        <div class="card-footer text-muted my-3">
          <small class="card-text">
            From:
          </small>
          <small class="float-end">
            <%= task.start_time.to_s(:time) %>
          </small><br>
          <small class="card-text">
            To:
          </small>
          <small class="float-end">
            <%= task.end_time.to_s(:time) %>
          </small>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
